<html>
  <head>
      <title>Init Block Test Page...</title>
      {{>common-includes}}

      <script type="text/javascript" src="/content/js/tests-initBlock.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
