<html>
  <head>
      <title>Init Block Form Test Page...</title>
      {{>common-includes}}

      <script type="text/javascript" src="/content/js/tests-initBlock.js"></script>
      <script type="text/javascript" src="/content/js/tests-templateFormControl.js"></script>
      <script type="text/javascript" src="/content/js/tests-initBlock-form.js"></script>
  </head>
  <body>
    <div class="initBlock-viewport"></div>
    {{{body}}}
  </body>
</html>
