<div class="outer-success"></div>
<div class="outer-error"></div>
<form class="outer-form">
    <input type="submit" class="outer-submit" value="{{buttonName}}"/>
</form>

<div class="form-nested-nested">This should not be visible</div>