<p>Content from the partial:</p>

<table>
    <thead>
    <tr>
        <th>item</th><th>value</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>model variable</td>
        <td class="variable">{{myvar}}</td>
    </tr>
    <tr>
        <td>query variable</td>
        <td class="query">{{req.query.myvar}}</td>
    </tr>
    <tr>
        <td>jsonify</td>
        <td class="jsonify">{{{jsonify json}}}</td>
    </tr>
    <tr>
        <td>markdown</td>
        <td class="markdown">{{{md markdown}}}</td>
    </tr>
    </tbody>
</table>