<div id="how-are-things">{{messageHelper "how-are-things"}}</div>

<div id="shallow-variable">{{messageHelper "shallow-variable"}}</div>

<div id="deep-variable">{{messageHelper "deep-variable"}}</div>

<div id="non-root-context">{{messageHelper "shallow-variable" deep}}</div>
