<html>
  <head>
      <title>Init Block Test Page...</title>

      {{>common-includes}}

      <link rel="stylesheet" media="screen" href="../../node_modules/infusion/tests/lib/qunit/css/qunit.css" />
      <script type="text/javascript" src="../../node_modules/infusion/tests/lib/qunit/js/qunit.js"></script>
      <script type="text/javascript" src="../../node_modules/infusion/tests/test-core/jqUnit/js/jqUnit.js"></script>

      <!-- Testem and the coverage client to relay results. -->
      <script src="/testem.js"></script>
      <script type="text/javascript" src="/coverage/client/coverageSender.js"></script>

      <!-- The component referenced in our initBlock -->
      <script type="text/javascript" src="/tests/browser-fixtures/js/tests-initBlock-component.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
